[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
flake8 = "*"
twine = "*"

[packages]
pandas = "*"
sqlalchemy = "*"
networkx = "*"

[requires]
python_version = "3.7"
